    
    //styles for overall container
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; //2 columns of equal width
      grid-template-rows: 8fr 8fr; /* 3 rows */
      grid-gap: 20px;
      grid-template-areas: 
      "map_container map_container histograms"
      "plot_container plot_container plot_container";
      margin: auto 10%;
    }

    //styles for map directions

    .map_container {
      grid-area: map_container;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: .5fr 5fr;
      grid-template-areas:
      "map_info"
      "map"
    }

    .map_info {
      grid-area: map_info;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      /* justify-content: center; */
      min-height: 100px;
      /* font-size: 10px; */
      justify-items: center;
      background: var(--green);

      div {
        border: none;
        font-size: 2rem;
        text-align: center;
        background: var(--green);
      }
    }

    .select_state span {
      padding-top: 10px;
      font-size: 16px;
    }

    //the actual map

    .map {
      grid-area: map;
      background: var(--green);
    }

    //scatterplot styles

    .plot_container {
      grid-area: plot_container;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: 1fr 10fr;
      grid-template-areas: 
      "scatter_info"
      "scatterplot";
    }

    .scatter_info {
      grid-area: scatter_info;
      font-size: 2rem;
      /* min-height: 100px; */
      background: var(--blue);
    }
  
    .scatterplot {
      grid-area: scatterplot;
      background: var(--blue);
    }

    //histogram styles

    .histograms {
      grid-area: histograms;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: 1fr 10fr 1fr 10fr;
      grid-template-areas:
      "abv_info"
      "abv"
      "ibu_info"
      "ibu";
    }

    .abv_info {
      grid-area: abv_info;
      font-size: 2rem;
      display: inline;
      text-align: center;
    }

    .abv {
      grid-area: abv;
    }

    .ibu_info {
      grid-area: ibu_info;
      font-size: 2rem;
      background: var(--pink);
      display: inline;
      text-align: center;
    }

    .ibu {
      grid-area: ibu;
      background: var(--pink);
    }

    @media (max-width: 1500px) {

      .container {
        grid-template-columns: repeat(6, 1fr); //2 columns of equal width
        grid-template-rows: 2fr 2fr; /* 3 rows */
        grid-template-areas: 
        "map_container map_container map_container map_container histograms histograms"
        ". plot_container plot_container plot_container plot_container . ";
      }

      .map_container {
        grid-template-rows: 1fr 5fr;
        grid-template-areas:
        "map_info"
        "map"
      }
      

      .plot_container {
        grid-template-rows: .1fr 1fr;
        grid-template-areas: 
        "scatter_info"
        "scatterplot";

      }

      .histograms {
        grid-template-rows: 1fr 4fr 1fr 4fr;
        grid-template-areas:
        "abv_info"
        "abv"
        "ibu_info"
        "ibu";
      }
        
    }


    
    @media (max-width: 1000px) {
      .container {
        grid-template-rows: 2fr 2fr 3fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "map_container map_container"
        "plot_container plot_container"
        "histograms histograms";
      }

      .map_container {
        grid-template-rows: .5fr 5fr;
        grid-template-areas:
        "map_info"
        "map"
      }

      .plot_container {
        grid-template-rows: 1fr 10fr;
        grid-template-areas: 
        "scatter_info"
        "scatterplot";

      }

      .histograms {
        grid-template-rows: 1fr 10fr 1fr 10fr;
        grid-template-areas:
        "abv_info"
        "abv"
        "ibu_info"
        "ibu";
      }
    }