    //google font import
    @import url('https://fonts.googleapis.com/css?family=Crimson+Text');
    @mixin boxShadow {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    //styles for overall container

    .container {
      display: grid;
      grid-template-columns: repeat(6, 1fr); //2 columns of equal width
      grid-template-rows: 2fr 2fr; /* 3 rows */
      grid-template-areas: 
      "map_container map_container map_container map_container histograms histograms"
      ". plot_container plot_container plot_container plot_container . ";
      grid-gap: 10px;
      margin: auto 7.5%;
    }

    //styles for map container
    .map_container {
      display: grid;
      grid-area: map_container;
      grid-gap: 10px;
      grid-template-rows: 1fr 5fr;
      grid-template-areas:
      "map_info"
      "map"
    }
    
    //styles for map directions


    .map_info {
      grid-area: map_info;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      /* justify-content: center; */
      min-height: 100px;
      /* font-size: 10px; */
      justify-items: center;
      @include boxShadow;
      background: var(--off_white);

      div {
        border: none;
        font-size: 2rem;
        text-align: center;
        background: var(--off_white);
      }
    }

    .select_state span {
      padding-top: 10px;
      font-size: 16px;
    }

    .select_city div {
      padding-top: 10px;
      font-size: 12px;
    }

    .select_city {
      display: block;
    }

    //the actual map

    .map {
      grid-area: map;
      border: none;
      @include boxShadow;
      background: var(--off_white);
      padding: none;
    }

    //scatterplot styles

    .plot_container {
      grid-area: plot_container;
      display: grid;
      grid-gap: 10px;
      grid-template-rows: .1fr 1fr;
      grid-template-areas: 
      "scatter_info"
      "scatterplot";
    }

    .scatter_info {
      grid-area: scatter_info;
      font-size: 1.75rem;
      /* min-height: 100px; */
      background: var(--gray);
      // display: inline;
      @include boxShadow;
    }
  
    .scatterplot {
      grid-area: scatterplot;
      background: var(--gray);
      @include boxShadow;
    }

    //histogram styles

    .histograms {
      grid-area: histograms;
      display: grid;
      grid-gap: 10px;
      grid-template-rows: 1fr 4fr 1fr 4fr;
      grid-template-areas:
      "abv_info"
      "abv"
      "ibu_info"
      "ibu";
    }

    .abv_info {
      grid-area: abv_info;
      font-size: 1.75rem;
      display: inline;
      text-align: center;
      @include boxShadow;
    }

    .abv {
      grid-area: abv;
      @include boxShadow;
    }

    .ibu_info {
      grid-area: ibu_info;
      font-size: 1.75rem;
      background: var(--green);
      display: inline;
      text-align: center;
      @include boxShadow;
    }

    .ibu {
      grid-area: ibu;
      background: var(--green);
      @include boxShadow;
    }

    .chartSubtitle {
      font-size: 1vw;
      letter-spacing: 1px;
    }

    .ibuDesc {
      font-size: .55vw;
      letter-spacing: 1px;
    }

    @media (max-width: 1330px) {
      .container {
        grid-template-rows: .5fr .5fr .75fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "map_container map_container"
        "plot_container plot_container"
        "histograms histograms";
        // height: 600px;
      }

      .map_container {
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
        "map_info"
        "map"
      }

      .plot_container {
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        "scatter_info"
        "scatterplot";

      }

      .histograms {
        grid-template-rows: 1fr 3fr 1fr 3fr;
        grid-template-areas:
        "abv_info"
        "abv"
        "ibu_info"
        "ibu";
      }

      .chartSubtitle {
        font-size: 1.5vw;
      }

      // .ibuDesc {
      //   font-size: 2vw;
      // }
    }

    //styles for text container

    .text_container {
      background: var(--gray);
      margin: 10px 10%;
      padding: 2% 10%;
      border-radius: 3px;
      @include boxShadow;

      .text_title {
        margin-bottom: 10%;
        line-height: 1;
        margin-top: 5%;
      }
      
      

      h1,h2,h3 {
        text-align: center;
        font-size: 2vw;
      }

      h1 {
        font-size: 5vw;
      }

      h3 {
        font-family: 'Crimson Text', 'Georgia', serif;
        margin-top: 5%;
      }

      p {
        font-size: 1.5vw;
        font-family: 'Crimson Text', 'Georgia', serif;
        text-shadow: none;
        
      }
    }

    .craft_definition {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center center;
      

      div {
        font-size: 2vw;
        color: var(--beer_brown);
      }
    }

    #credits {
      h2 {
        text-align: left;
        font-size: 1.5vw;
      }

      p {
        font-size: 1vw;
      }

      a {
        text-decoration: none;
        color: var(--abv_blue);
      }
    }